header(class="header")
  div(class="search-bar")
    form(
      action="/search/result"
      method="GET"
    ) 
      div(class="form-group d-flex mb-0")
        input(
          type="text" 
          placeholder="Tìm kiếm bài hát, nghệ sĩ, lời bài hát..."
          class="form-control"
          name="keyword"
          value=keyword
        )
        button(
          type="submit"
          class="btn btn-primary"
        ) Tìm


  div(class="actions")
    div(class="avatar") 





